---
layout: two-column.hbs
section: getting-started
title: Getting started
description: An overview of ObliqueUI, how to download and use. Start with a basic template or any of the predefined layouts.
---
<!-- Download
================================================== -->
<section>
	<h1 id="download" class="page-header">
		<span>Download</span>
		<small>Version <strong>{{package.version}}</strong></small>
	</h1>
	<div class="row">
		<div class="col-sm-6">
			<h2 id="download-distribution">Distribution</h2>
			<p>Compiled and minified CSS, JavaScript, and fonts. No docs or original source files are included.</p>
			<a href="{{assets}}{{format '{0}-v{1}.zip' package.name package.version}}" class="btn btn-primary btn-lg" role="button">
				<span class="fa fa-download"></span>
				<span>Download distribution</span>
			</a>
		</div>
		<div class="col-sm-6">
			<h2 id="download-source">Source code</h2>
			<p>Source Less, JavaScript, templates, and font files, along with our docs. <strong>Requires <a href="http://nodejs.org/">Node.js</a> and <a href="{{format package.repository.resource "README.md" package.version}}">some setup</a>.</strong></p>
			<a href="{{format package.downloads.source package.version}}" class="btn btn-primary btn-lg" role="button">
				<span class="fa fa-download"></span>
				<span>Download source</span>
			</a>
		</div>
	</div>

	<h2 id="download-bower">Install with Bower</h2>
	<p>Install, manage and extend {{package.title}}'s Less, CSS, JavaScript, templates and fonts using <a href="http://bower.io">Bower</a>.</p>
{{#markdown}}
```bash
$ bower install {{package.repository.url}} -S
```
{{/markdown}}

</section>

<!-- Quick Start
================================================== -->
<section>
	<h1 id="quick-start" class="page-header">
		<span>Quick start</span>
	</h1>
	<div class="callout callout-info">
		<p>Importing minified resources in your project is the recommended way for quick starting with {{package.title}}. If you develop your frontend using a build system (e.g. <a href="http://gruntjs.com/"><code>Grunt</code></a>), you can import selectively non-minified resources.</p>
		<p><strong>Don't want to spent time configuring your web project?</strong> Run the <a href="#quick-start-quickstarter">ObliqueUI quickstarter</a>!</p>
	</div>
	<h2 id="quick-start-minified">Minified resources</h2>

{{#markdown}}
```html
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="{{obliqueui.vendor}}css/{{package.name}}.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="{{obliqueui.vendor}}css/{{package.name}}-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="{{obliqueui.vendor}}js/{{package.name}}-all.min.js"></script>
```
{{/markdown}}

	<h3 id="quick-start-nonminified">Non-minified resources</h3>

{{#markdown}}
```html
<!-- Latest compiled CSS -->
<link rel="stylesheet" href="{{obliqueui.vendor}}css/{{package.name}}.css">

<!-- Optional theme -->
<link rel="stylesheet" href="{{obliqueui.vendor}}css/{{package.name}}-theme.css">

<!-- Latest compiled JavaScript -->
<script src="{{obliqueui.vendor}}js/{{package.name}}-all.js"></script>
```
{{/markdown}}

	<h2 id="quick-start-quickstarter">{{package.title}} Quickstarter</h2>
	<div class="row">
		<div class="col-md-6">
			<p>Clone a ready-to-use web project template for composing your frontend pages!</p>
{{#markdown}}
```bash
$ git clone {{package.quickstarter.repository.url}}
```
{{/markdown}}
			<p>You can also download latest stable release:</p>
			<a href="{{format package.quickstarter.downloads.source package.quickstarter.version}}" class="btn btn-info btn-lg" role="button">
				<span class="fa fa-download"></span>
				<span>Download quickstarter</span>
			</a>
		</div>
		<div class="col-md-4 col-md-push-2">
			<div class="alert alert-info">
				<p>The {{package.title}} Quickstarter requires that you setup your environment to run properly.</p>
				<p>Check the <a href="{{format package.quickstarter.repository.resource "README.md" package.quickstarter.version}}">README.md</a> for setup instructions and how to run the quickstarter.</p>
			</div>
		</div>
	</div>

</section>

<!-- File structure
================================================== -->
<section>
	<h1 id="whats-included" class="page-header">What's included</h1>
	<p class="lead">{{package.title}} is downloadable in two forms, within which you'll find the following directories and files, logically grouping common resources and providing both compiled and minified variations.</p>

	<h2 id="whats-included-precompiled">Precompiled {{package.title}}</h2>
	<p>Once downloaded, unzip the compressed folder to see the structure of (the compiled) {{package.title}}. You'll see something like this:</p>

<!-- NOTE: This info is intentionally duplicated in the README.
Copy any changes made here over to the README too. -->
{{#markdown}}
```bash
{{package.name}}/
├── css/
│   ├── {{package.name}}.css
│   └── {{package.name}}.min.css
├── fonts/
│   ├── OpenSans/
│   ├── Font-Awesome*.*
│   └── glyphicons-halflings-regular.*
├── images/
├── js/
│   ├── {{package.name}}.js
│   ├── {{package.name}}.min.js
│   ├── {{package.name}}-all.js
│   └── {{package.name}}-all.min.js
└── themes/
     ├── {{package.name}}-theme.css
     └── {{package.name}}-theme.min.css
```
{{/markdown}}

	<p>This is the most basic form of {{package.title}}: precompiled files for quick drop-in usage in nearly any web project. Compiled and packaged CSS and JS (<code>{{package.name}}.*</code>), as well as minified CSS and JS (<code>{{package.name}}.min.*</code>) are provided. Fonts from <a href="http://getbootstrap.com/components/#glyphicons">Glyphicons</a> & <a href="http://fortawesome.github.io/Font-Awesome/">Font-Awesome</a> are included, as is the optional {{package.title}} theme.</p>

	<h2 id="whats-included-source">{{package.title}} source code</h2>
	<p>The {{package.title}} source code download includes the precompiled CSS, JavaScript, images and font assets, along with source Less, JavaScript, and templates. More specifically, it includes the following and more:</p>

{{#markdown}}
```bash
{{package.name}}/
├── dist/
│   ├── css/
│   ├── fonts/
│   ├── images/
│   ├── js/
│   └── themes/
├── docs/
├── fonts/
├── images/
├── js/
├── less/
├── templates/
└── themes/
```
{{/markdown}}

	<ul>
		<li>The <code>dist/</code> folder includes everything listed in the precompiled download section above.</li>
		<li>The <code>docs/</code> folder contains source files for generating the {{package.title}} documentation.</li>
		<li>The <code>fonts/</code>, <code>js/</code>, and <code>less/</code> are the source code for corporate & icon fonts, JS, and CSS (respectively).</li>
		<li>The <code>images/</code> folder provides corporate graphical assets.</li>
		<li>The <code>templates/</code> folder contains predefined layouts and partials that you may extend within your application (see <a href="http://assemble.io/">assemble.io</a> and <a href="http://handlebarsjs.com/">Handlebars</a>).</li>
		<li>Finally, the <code>themes/</code> folder provides additional resources for application theming.</li>
	</ul>
</section>

<!-- Start!
================================================== -->
<section>
	<h1 id="start" class="page-header">Let's start!</h1>

	<h2 id="start-basic-template">Basic template</h2>
	<p class="lead">Start with this basic HTML template in order to create your first {{package.title}} page.</p>

	{{#markdown}}{{embed 'target/snippets/templates/templates-basic.html'}}{{/markdown}}

	<h2 id="start-layouts">Available layouts</h2>
	<p class="lead">Check live examples of <a href="{{assets}}layouts/index.html">{{package.title}} layouts</a> for more specific usecases.</p>
	<a href="layouts/index.html" class="btn btn-primary btn-lg">
		<span class="fa fa-th-list"></span>
		<span>Layouts</span>
	</a>
</section>
