<article>
	<h{{length sections}}{{#lt (length sections) 3}} class="page-header"{{/lt}}>
		<a href="#{{join sections "-"}}" name="{{join sections "-"}}" class="anchor" tabindex="-1" aria-hidden="true"></a>
		<span>{{content.title}}</span>
		{{#if content.selector}}<small title="Relevant CSS selectors">{{content.selector}}</small>{{/if}}
	</h{{length sections}}>

	{{include (format "docs/snippets/{0}/{1}-before.hbs" (join sections "/") (last sections))}}

	{{#if content.items}}
		{{#each content.items}}
			{{#if this.items}}
				{{include (format '{0}-{1}' (last ../../sections) @key)}}
			{{else}}
				{{#context path=(format 'snippets/{0}/{1}-{2}' (join ../../../sections "/") (last ../../../sections) @key)}}
					{{#arrayConcat ../../../sections @key}}
						<section>
							<h{{length this}} id="{{join this "-"}}">
								<a href="#{{join this "-"}}" name="{{join this "-"}}" class="anchor" aria-hidden="true"></a>
								<span>{{../title}}</span>
								{{#if ../selector}}<small>{{../../selector}}</small>{{/if}}
							</h{{length this}}>
							{{include (format "docs/{0}-before.hbs" ../path)}}
							<div class="docs-example">
								{{include (format "docs/{0}.hbs" ../path)}}
							</div>
							{{#context path=(format "target/{0}.html" ../path)}}
								{{> source}}
							{{/context}}
							{{include (format "docs/{0}-after.hbs" ../path)}}
						</section>
					{{/arrayConcat}}
				{{/context}}
			{{/if}}
		{{/each}}
	{{else}}
		{{noop}}
	{{/if}}

	{{include (format "docs/snippets/{0}/{1}-after.hbs" (join sections "/") (last sections))}}
</article>
