<ul{{#if sectionHeader}} id="{{id}}"{{/if}} class="nav nav-stacked" role="menu" data-provides="inner-navigation activable"{{#if id}} data-parent="#{{id}}"{{/if}}>
	{{#if sectionHeader}}
		<li class="nav-header" role="presentation">
			<h3>{{package.title}} {{content.title}}</h3>
		</li>
	{{/if}}
	{{#if content.items}}
		{{#each content.items}}
			<li role="menuitem"{{#if this.items}} class="nav-section"{{/if}}>
				<a href="{{../assets}}{{../path}}#{{#if ../../section}}{{../../this.section}}-{{/if}}{{@key}}">{{title}}</a>
				{{#if this.items}}
					{{#context content=this path=../../path section=(concat ../../section "-" @key) assets=../../assets id=../../id}}
						{{> section-nav}}
					{{/context}}
				{{/if}}
			</li>
		{{/each}}
	{{/if}}
</ul>

