<ul id="nav-global" class="nav navbar-nav navbar-primary navbar-fw" role="menu">
	<li{{#contains (default section "") "home"}} class="active"{{/contains}} role="menuitem">
		<a href="{{assets}}index.html">Home</a>
	</li>
	<li{{#contains (default section "") "getting-started"}} class="active"{{/contains}} role="menuitem">
		<a href="{{assets}}getting-started.html">Getting started</a>
	</li>
	<li{{#contains (default section "") "css"}} class="active"{{/contains}} role="menuitem">
		<a href="{{assets}}css/index.html" id="nav-main-css" role="button" data-toggle="dropdown">
			<span>CSS</span>
			<span class="toggle"></span>
		</a>
		<div class="dropdown-menu" role="menu" aria-labelledby="nav-main-css">
			{{> nav-css }}
		</div>
	</li>
	<li{{#contains (default section "") "components"}} class="active"{{/contains}} role="menuitem">
		<a href="{{assets}}components/index.html" id="nav-main-components" role="button" data-toggle="dropdown">
			<span>Components</span>
			<span class="toggle"></span>
		</a>
		<div class="dropdown-menu" role="menu" aria-labelledby="nav-main-components">
			{{> nav-components }}
		</div>
	</li>
	<li{{#contains (default section "") "layouts"}} class="active"{{/contains}} role="menuitem">
		<a href="{{assets}}layouts/index.html" id="nav-main-layouts" role="button" data-toggle="dropdown">
			<span>Layouts</span>
			<span class="toggle"></span>
		</a>
		<div class="dropdown-menu" role="menu" aria-labelledby="nav-main-layouts">
			{{> nav-layouts }}
		</div>
	</li>
	{{!--<li{{#contains (default section "") "plugins"}} class="active"{{/contains}} role="menuitem">
		<a href="{{assets}}plugins/index.html" id="nav-main-plugins" role="button" data-toggle="dropdown">
			<span>Plugins</span>
			<span class="toggle"></span>
		</a>
		<div class="dropdown-menu" role="menu" aria-labelledby="nav-main-plugins">
			{{> nav-plugins }}
		</div>
	</li>--}}
	<li{{#contains (default section "") "codebox"}} class="active"{{/contains}} role="menuitem">
		<a href="{{assets}}codebox.html">CodeBox</a>
	</li>
	<li{{#contains (default section "") "support"}} class="active"{{/contains}} role="menuitem">
		<a href="{{assets}}support.html">Support</a>
	</li>
</ul>
