<ul id="nav-header" class="nav navbar-nav navbar-right navbar-controls" role="menu" data-provides="inner-navigation">
	<li role="menuitem">
		<a href="#content" role="button" class="slide-control slide-auto top-control">
			<span class="toggles"></span>
			<span class="slides">Back to top</span>
		</a>
	</li>
	<li role="menuitem">
		<a href="{{package.repository.home}}" title="Framework">
			<span class="sr-only">{{package.title}} GIT repository</span>
			<span class="fa fa-bitbucket"></span>
		</a>
	</li>
	{{!--<li role="menuitem">
		<a role="button" class="slide-control search-control" data-provides="activable">
			<label for="navbar-search" class="toggles" title="Search">
				<span class="sr-only">Search</span>
			</label>
			<input id="navbar-search" class="slides" type="text" placeholder="Search" />
		</a>
	</li>
	<li class="dropdown" role="menuitem">
		<a href="#" data-toggle="dropdown" title="Settings">
			<span class="sr-only">Settings</span>
			<span class="fa fa-cog"></span>
		</a>
		<h2 id="header-menu-settings" class="sr-only">Settings menu</h2>
		<ul class="dropdown-menu nav nav-stacked" role="menu" aria-labelledby="header-menu-settings">
			<li class="nav-header" role="presentation">
				<h3>Themes <span class="fa fa-magic"></span></h3>
			</li>
			<li>
				<ul class="nav nav-stacked">
					{{#each themes}}
						<li title="{{title}}" role="menuitem"{{#is code ../user.theme}} class="active"{{/is}}>
							<a href="#" data-theme="{{code}}">{{title}}</a>
						</li>
					{{/each}}
				</ul>
			</li>
		</ul>
	</li>--}}
</ul>
