<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Default Panel</h3>
	</div>
	<div class="panel-body">
		<p>{{lorem}}</p>
	</div>
	<div class="panel-footer">Panel footer</div>
</div>
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Primary Panel</h3>
	</div>
	<div class="panel-body">
		<p>{{lorem}}</p>
	</div>
	<div class="panel-footer">Panel footer</div>
</div>
<div class="panel panel-success">
	<div class="panel-heading">
		<h3 class="panel-title">Success Panel</h3>
	</div>
	<div class="panel-body">
		<p>{{lorem}}</p>
	</div>
	<div class="panel-footer">Panel footer</div>
</div>
<div class="panel panel-info">
	<div class="panel-heading">
		<h3 class="panel-title">Info Panel</h3>
	</div>
	<div class="panel-body">
		<p>{{lorem}}</p>
	</div>
	<div class="panel-footer">Panel footer</div>
</div>
<div class="panel panel-warning">
	<div class="panel-heading">
		<h3 class="panel-title">Warning Panel</h3>
	</div>
	<div class="panel-body">
		<p>{{lorem}}</p>
	</div>
	<div class="panel-footer">Panel footer</div>
</div>
<div class="panel panel-danger">
	<div class="panel-heading">
		<h3 class="panel-title">Danger Panel</h3>
	</div>
	<div class="panel-body">
		<p>{{lorem}}</p>
	</div>
	<div class="panel-footer">Panel footer</div>
</div>
<div class="panel panel-secondary">
	<div class="panel-heading">
		<h3 class="panel-title">Secondary Panel</h3>
	</div>
	<div class="panel-body">
		<p>{{lorem}}</p>
	</div>
	<div class="panel-footer">Panel footer</div>
</div>
<div class="panel">
	<h3 class="panel-title">Unstyled Panel</h3>
	<p>{{lorem}}</p>
</div>
<div class="panel panel-lg">
	<h3 class="panel-title">Unstyled Large Panel</h3>
	<p>{{lorem}}</p>
</div>
